body
{
	background-color: #E72225;
	
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
}

img[alt="Facebook Le Cyclo Plombier"]
{
	display: inline-block;
	text-align: center;
}

#content 
{
	width: 960px;
	margin: 0 auto;
}

h1
{
	text-align: center;
}


h2, h3 
{
	color: #ffffff;
	text-align: center;
}

fieldset 
{
	border: none;
}

#first_img
{
	float: left;
}

aside 
{
	float: right;
	width: 260px;
	margin-right: 60px;
}

h1
{
	clear: both;
}

form#contact {
	text-align: center;
}

p 
{
	text-align: center;
	font-style: italic;
}


footer
{
	height: 50px;
}